@charset "UTF8"
*{}
   font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#3083DB,#6482A3,#BFCAD6);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(63, 62, 112, 0.61);
    width: 600px;
    padding: 10px;
    margin: auto; 
   
}
h1{
    color:#1b3553cc ;
    text-align: center;
    text-shadow: 1px 1px 2px #245e9c93;

}
h2{
    color:rgb(49, 52, 54)cc ;
    text-shadow: 1px 1px 1px rgba(133, 140, 148, 0.658) ;
}
p {
   
    text-align: justify;
}



