@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rakesly';
    src: url('fontes/rakesly\ rg\ it.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color:#84e1ad;
    margin: 0px;
}
header{
    background-image: linear-gradient(to top,#14492c,#216b42,#2ea563,#3cdc84d3,#44eb8f);
    box-shadow: 3px 3px 10px black;
    padding: 50px;
 
}
header > h1{
    font-family:'rakesly' ;
    color: white;
    text-align: center;
    font-weight: bolder;
    position: relative;
    text-shadow: 2px 2px 2px black;
}
header>p{
    color: white;
    text-align: center;
    position: relative;
    bottom: 15px;
    
    
}
a{
    text-decoration: none;
    color: #478161;
}

nav > a{
    color: rgb(152, 209, 157);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-decoration: none;
    padding: 9px;
    position: relative;
    top: 40px;
}

nav >a:hover{
    color: black;
    background-color: rgb(63, 151, 63);
    border-radius: 5px 5px;
   
}
main{
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    background-color: white;
}

article>h1{
    font-size: 2em;
    color: #1e5e3b;
    font-family: 'idroid';
    margin-left: 5px;
    margin-top: 4px;
    margin-bottom: 6px;
}
.formatacao{
    margin-left: 5px;
    margin-right: 5px;
    text-indent: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.estilo{
    text-indent: 10px;
    margin-bottom: 5px;
    font-size: 1em;
    font-family: 'idroid';
    background-image: linear-gradient(to right,#8bc7a5,#b8f1d1,#a6e6c4,#c5f8dbd3,#d7f5e6);
    color:#336f4e;
}
picture{
    position: relative;
    left: 20%;
    
}
picture#center{
    position: relative;
    left: 40%;
    transform: translateX(-40%);
}
iframe{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
div#video{
    background-color: #14492c;
}
section#tabela{
    background-color:#c5ebd6;
    display: relative;
    margin: 20px 15px 20px 15px;
    border-radius: 15px 15px 0px 0px;
    
}
ol#alinhamento{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
h1#h1tabela{
    background-color: #2fa866;
    border-radius: 15px 15px 0px 0px;
    color: white;
    text-align: justify;
    text-indent: 15px;
    height: 30px;
}
footer{
    
    background-color: #1a5c38;
    text-align:center;

}
footer>b{
    color: white;
}


