
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Poppins:wght@400;500&family=Work+Sans:ital,wght@0,100;1,300&display=swap');
*{
    margin: 0px;
    padding: 0px;
   
}

header{
    
    color: white;
    background-color: black;
    height: 260px;
}
h1{
  margin-top: 50px;
  text-align: center;

}
p[
    
]