@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Poppins:wght@400;500&family=Work+Sans:ital,wght@0,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Passion+One&family=Poppins:wght@400;500&family=Work+Sans:ital,wght@0,100;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Passion+One&family=Poppins:wght@400;500&family=Tapestry&family=Work+Sans:ital,wght@0,100;1,300&display=swap');


*{
    margin: 0px;
    padding: 0px;
  
   
}
html, body{
   min-height: 100vh;
   background-color: darkgray;
   font-family:'Tapestry',Arial, Helvetica, sans-serif ;
}
header{ 
    color: white;
    background-color: black;
    height: 260px;
}
h1{
  font-family:'Passion one',Arial, Helvetica, sans-serif ;
  font-variant: small-caps;
  font-weight:bolder;
  font-size: 10vw;
  text-align: center;
  padding-top: 40px;

}
header > p{
  font-family: 'Tapestry',Arial, Helvetica, sans-serif;
  padding-top: -20px;
  text-align: center;
}
 a{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
 a:hover{
  color: purple;
}

section{
  padding-top: 10vh;
  padding-bottom: 10vh;
  line-height: 2em;
  padding-left: 30px;
  font-size: 3.5vw;
}

section > p{
  padding-bottom: 2em;
}

section.normal{
  background-color: white;
  color: black;
 

}

section.imagem{

  background-color: rgba(10, 9, 9, 0.116);
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
  background-size: cover;
  background-attachment: fixed;
  
}

section.imagem >p{
  display: inline-block;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.514);
  text-shadow: 1px 1px 0px rgba(3, 3, 3, 0.466);
 
}

section#img01{
  background-image: url('imagens/background001.jpg');
  background-position: left center;
 
}

section#img02{
  background-image: url('imagens/background002.jpg');
  background-position: left center;
  

}

footer{
  color: white;
  background-color: black;
  padding: 5px;
  
}

footer p{
  text-align: center;
}
