
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Poppins:wght@400;500&family=Work+Sans:ital,wght@0,100;1,300&display=swap');
*{
    margin: 0px;
    padding: 0px;
   
}

header{ 
    color: white;
    background-color: black;
    height: 260px;
}
h1{
  font-weight:bolder;
  font-size: 6em;
  font-family: 'Poppins',sans-serif;
  text-align: center;
  padding-top: 40px;

}
header p{
  padding-top: -20px;
    text-align: center;
}

p{
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 35px;
  text-align: justify;
  padding: 20px 0px 20px 23px;
}
img{
  max-width: auto;
  max-height: auto
  ;
}
footer{
  color: white;
  background-color: black;
  
}
footer p{
  text-align: center;
}